@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Inria+Serif&family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
    font-size: 62.5%;
  }
}

/* body {
  font-family: 'Expletus Sans', cursive;
  font-family: 'Inria Serif', serif;
  font-family: 'Inter', sans-serif;
} */
